<!DOCTYPE html>
<html>
	<head>
    		<title th:remove="all">VacinaJa</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	</head>
	<body>
	<center>
		<div style="padding:0px; background-color:#FFEBCD">
			<p style="color:black; font-size:50px">
				VacinaJá
			</p>
			<p style="color:black; font-size:25px">
				Sistema automático de avisos via e-mail.
			</p>
			
			<div style="border-radius: 25px; background-color:white; width:fit-content; min-width: 40%; padding:3%; margin-left:10%; margin-right:10%">
				<p style="font-size:30px">Olá, #/nomeUsuario/#</p>
				<p style="font-size:20px">#/mensagemEmail/#</p>
			</div>
			<p style="padding:10px; margin:5px">Se você não reconhece o seu nome no e-mail, por favor, desconsidere.</p>
		</div>
	
		<div>
		</div style='width:100%'>
			<div style='text-align:center; background-color:black'>
			<span style='font-size:11px;line-height:14px'>
			<span style='color:#aaaaaa'>
			<br>Esse e-mail é enviado automaticamente pelo sistema VacinaJá<br>para informar novidades sobre a sua vacinação<br>● 2021 ●<br>
			</span></span><br>
		</div>
	</center>
	</body>
</html>