<!DOCTYPE html>
<html>
	<head>
    		<title th:remove="all">VacinaJa</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	</head>
	<body>
	<center>
		<div style="padding:0px; background-color:#FFEBCD">
			<p style="color:black; font-size:50px">
				VacinaJá
			</p>
			<p style="color:black; font-size:25px">
				Sistema automático de avisos via e-mail.
			</p>
			
		</div>
		
		<div>
			<p>Olá, #nome</p>
			<p>#mensagem</p>
		</div>
		<div>
			<p>Se você não reconhece o seu nome no e-mail, por favor, desconsidere.</p>
		</div style='width:100%'>
			<div style='text-align:center; background-color:black'>
			<span style='font-size:11px;line-height:14px'>
			<span style='color:#aaaaaa'>
			<br>Esse e-mail é enviado automaticamente pelo sistema VacinaJá<br>para informar novidades sobre a sua vacinação<br>● 2021 ●<br>
			</span></span><br>
		</div>
	</center>
	</body>
</html>